In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing,neighbors, model_selection

In [2]:
df=pd.read_csv('breast_cancer.csv')
df.head()

,id,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epi_cell_size,bare_nuclei,bland_chromation,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [24]:
df.replace('?',-99999,inplace=True)

In [25]:
df.head()

,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epi_cell_size,bare_nuclei,bland_chromation,normal_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [26]:
X=np.array(df.drop(['class'],1))
y=np.array(df['class'])

In [27]:
X_train,X_test,y_train,y_test=model_selection.train_test_split(X,y,test_size=0.2)

In [28]:
clf=neighbors.KNeighborsClassifier()

In [29]:
clf.fit(X_train,y_train)

KNeighborsClassifier()

In [30]:
accuracy=clf.score(X_test,y_test)
print(accuracy)

0.9785714285714285

In [43]:
example_measures = np.array([[4,2,1,1,1,2,3,2,1],[4,2,1,1,1,2,3,2,1]])
example_measures=example_measures.reshape(len(example_measures),-1)

In [44]:
prediction=clf.predict(example_measures)
print(prediction)

[2 2]